In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("WeatherData.csv")
df

    Temperature(C)  Humidity
0         9.472222      0.89
1         9.355556      0.86
2         9.377778      0.89
3         8.288889      0.83
4         8.755556      0.83
5         9.222222      0.85
6         7.733333      0.95
7         8.772222      0.89
8        10.822222      0.82
9        13.772222      0.72
10       16.016667      0.67
11       17.144444      0.54
12       17.800000      0.55
13       17.333333      0.51
14       18.877778      0.47
15       18.911111      0.46
16       15.388889      0.60
17       15.550000      0.63
18       14.255556      0.69
19       13.144444      0.70
20       11.550000      0.77
21       11.183333      0.76
22       10.116667      0.79
23       10.200000      0.77
24       10.422222      0.62
25        9.911111      0.66
26       11.183333      0.80
27        7.155556      0.79
28        6.111111      0.82
29        6.788889      0.83
30        7.261111      0.85
31        7.800000      0.83
32        9.872222      0.78
33       12.222222      0.72
34       15.094444      0.61
35       17.355556      0.52
36       19.005556      0.46
37       20.044444      0.40
38       21.050000      0.40
39       21.183333      0.37
40       20.116667      0.40
41       20.216667      0.36
42       20.000000      0.43
43       17.800000      0.50
44       16.061111      0.53
45       15.022222      0.55
46       14.422222      0.58
47       14.255556      0.59
48       13.772222      0.60
49       13.283333      0.63

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature(C)  50 non-null     float64
 1   Humidity        50 non-null     float64
dtypes: float64(2)
memory usage: 928.0 bytes

In [7]:
df.corr()

                Temperature(C)  Humidity
Temperature(C)        1.000000 -0.943471
Humidity             -0.943471  1.000000

In [4]:
df.isnull().sum()

Temperature(C)    0
Humidity          0
dtype: int64

In [6]:
xtem=df["Temperature(C)"]
yhu=df["Humidity"]
print(xtem)
print(yhu)

0      9.472222
1      9.355556
2      9.377778
3      8.288889
4      8.755556
5      9.222222
6      7.733333
7      8.772222
8     10.822222
9     13.772222
10    16.016667
11    17.144444
12    17.800000
13    17.333333
14    18.877778
15    18.911111
16    15.388889
17    15.550000
18    14.255556
19    13.144444
20    11.550000
21    11.183333
22    10.116667
23    10.200000
24    10.422222
25     9.911111
26    11.183333
27     7.155556
28     6.111111
29     6.788889
30     7.261111
31     7.800000
32     9.872222
33    12.222222
34    15.094444
35    17.355556
36    19.005556
37    20.044444
38    21.050000
39    21.183333
40    20.116667
41    20.216667
42    20.000000
43    17.800000
44    16.061111
45    15.022222
46    14.422222
47    14.255556
48    13.772222
49    13.283333
Name: Temperature(C), dtype: float64
0     0.89
1     0.86
2     0.89
3     0.83
4     0.83
5     0.85
6     0.95
7     0.89
8     0.82
9     0.72
10    0.67
11    0.54
12    0.55
13    0.51
14    0.47
15    0.46
16    0.60
17    0.63
18    0.69
19    0.70
20    0.77
21    0.76
22    0.79
23    0.77
24    0.62
25    0.66
26    0.80
27    0.79
28    0.82
29    0.83
30    0.85
31    0.83
32    0.78
33    0.72
34    0.61
35    0.52
36    0.46
37    0.40
38    0.40
39    0.37
40    0.40
41    0.36
42    0.43
43    0.50
44    0.53
45    0.55
46    0.58
47    0.59
48    0.60
49    0.63
Name: Humidity, dtype: float64

In [10]:
xt=pd.DataFrame(xtem)
yh=pd.DataFrame(yhu)
print(xt,yh)

    Temperature(C)
0         9.472222
1         9.355556
2         9.377778
3         8.288889
4         8.755556
5         9.222222
6         7.733333
7         8.772222
8        10.822222
9        13.772222
10       16.016667
11       17.144444
12       17.800000
13       17.333333
14       18.877778
15       18.911111
16       15.388889
17       15.550000
18       14.255556
19       13.144444
20       11.550000
21       11.183333
22       10.116667
23       10.200000
24       10.422222
25        9.911111
26       11.183333
27        7.155556
28        6.111111
29        6.788889
30        7.261111
31        7.800000
32        9.872222
33       12.222222
34       15.094444
35       17.355556
36       19.005556
37       20.044444
38       21.050000
39       21.183333
40       20.116667
41       20.216667
42       20.000000
43       17.800000
44       16.061111
45       15.022222
46       14.422222
47       14.255556
48       13.772222
49       13.283333     Humidity
0       0.89
1       0.86
2       0.89
3       0.83
4       0.83
5       0.85
6       0.95
7       0.89
8       0.82
9       0.72
10      0.67
11      0.54
12      0.55
13      0.51
14      0.47
15      0.46
16      0.60
17      0.63
18      0.69
19      0.70
20      0.77
21      0.76
22      0.79
23      0.77
24      0.62
25      0.66
26      0.80
27      0.79
28      0.82
29      0.83
30      0.85
31      0.83
32      0.78
33      0.72
34      0.61
35      0.52
36      0.46
37      0.40
38      0.40
39      0.37
40      0.40
41      0.36
42      0.43
43      0.50
44      0.53
45      0.55
46      0.58
47      0.59
48      0.60
49      0.63

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
x1train,x1test,y1train,y1test=train_test_split(xt,yh,test_size=0.25,random_state=50)

In [18]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
model=lr.fit(xt,yh)
ypr=model.predict(x1test)
print(y1test)

    Humidity
34      0.61
36      0.46
1       0.86
38      0.40
8       0.82
16      0.60
35      0.52
13      0.51
29      0.83
24      0.62
18      0.69
46      0.58
12      0.55

In [20]:
print(ypr)

[[0.6020417 ]
 [0.46429037]
 [0.8041683 ]
 [0.39228399]
 [0.75251155]
 [0.59167122]
 [0.52240421]
 [0.52318689]
 [0.8945676 ]
 [0.76659975]
 [0.63158779]
 [0.62571771]
 [0.50675065]]

In [24]:
from sklearn.metrics import mean_squared_error,r2_score

In [26]:
print("MEan square is: ", mean_squared_error(y1test,ypr))

MEan square is:  0.003161173494187085

In [28]:
print("R square :", r2_score(y1test,ypr))

R square : 0.8354164138885959